a:hover {
  text-decoration: none;
}
.read-more {
  text-decoration: none;
  color: #dacb46;
  font-style: italic;
}
.read-more:hover {
  color: #ffdb35;
}
.type-2034 {
  font-family: arial;
}
.type-2034 .navbar-default {
  background-color: #fff;
  border-color: #ededed;
  float: left;
  width: 100%;
  border-top: 1px solid #ededed;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  margin: 0px 0px 6px 0px;
}
.type-2034 .navbar-default .navbar-nav li a:hover {
  color: #fff;
  background: #00a685;
}
.type-2034 .navbar-default .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.type-2034 .navbar-default .navbar-collapse .dropdown-menu {
  font: normal 14px arial;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li:hover a {
  color: #fff;
  background: #00a685;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li:hover .dropdown-menu li a {
  color: #333;
  background-color: #e5e5e5;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li:hover .dropdown-menu li a:hover {
  color: #fff;
  background: #00a685;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul {
  padding: 0;
  border-radius: 3px;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li a {
  padding: 6px 10px;
  color: #333;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li:first-child a {
  border-radius: 3px 3px 0 0;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li:last-child a {
  border-radius: 0 0 3px 3px;
}
.type-2034 .navbar-default .navbar-collapse .navbar-nav li ul li a:hover {
  color: #fff;
  background-color: #00a685;
}
.type-2034 .navbar-nav > .open > a {
  background-color: #00a685;
  color: #fff;
}
.type-2034 .top-strip {
  float: left;
  width: 100%;
  border-top: 5px solid #00a685;
  padding: 20px 0px 10px 0;
  border-bottom: solid 1px #ededed;
  display: block;
  transition: display 0.5s ease-in-out;
}
.type-2034 .language {
  margin-bottom: 0;
  padding: 0;
}
.type-2034 .language .dropdown {
  margin-right: 20px;
  float: left;
  list-style: none;
  z-index: 1110;
}
.type-2034 .language .dropdown-menu {
  padding: 0;
}
.type-2034 .language .dropdown-toggle {
  font: normal 12px arial;
  color: #aaa;
}
.type-2034 .account {
  float: right;
  list-style: none;
  padding: 0;
}
.type-2034 .account .dropdown-menu {
  left: auto;
  right: 0px;
  z-index: 1110;
}
.type-2034 .account .dropdown-menu li {
  width: 100%;
  margin: 0;
}
.type-2034 .account ul {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.type-2034 .account li {
  display: inline-block;
  margin: 0px 10px;
}
.type-2034 .account li:last-child {
  margin-right: 0;
}
.type-2034 .account a {
  font: normal 12px arial;
  color: #aaa;
  text-decoration: none;
}
.type-2034 .account a:hover {
  color: #00a685;
}
.type-2034 .language .dropdown-menu,
.type-2034 .account .dropdown-menu {
  font: normal 12px arial;
}
.type-2034 .language li ul li:first-child a:hover,
.type-2034 .account li ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}
.type-2034 .language li ul li:last-child a:hover,
.type-2034 .account li ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}
.type-2034 .dropdown .caret {
  border-top: 4px solid #aaa;
}
.type-2034 .dropdown a:hover,
.type-2034 .dropdown a:focus {
  text-decoration: none;
}
.type-2034 .dropdown a:hover {
  color: #00a685;
}
.type-2034 .dropdown a:hover .caret {
  border-top: 4px solid #00a685;
}
.type-2034 .dropdown-menu {
  border: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.type-2034 .dropdown-menu li a {
  display: block;
  padding: 6px 10px;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  color: #aaa;
}
.type-2034 .dropdown-menu li a:hover {
  background-color: #00a685;
  color: #fff;
}
.type-2034 .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.type-2034 .width-2034 .logo {
  float: left;
  margin-top: 10px;
}
.type-2034 .width-2034 .logo img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}
.type-2034 .width-2034 input[type="text"] {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #0f1521;
  vertical-align: middle;
  border-radius: 4px;
}
.type-2034 .width-2034 input[type="text"]:focus {
  border-color: #00a685;
  outline: none;
}
.type-2034 .width-2034 .search-bar {
  cursor: pointer;
}
.type-2034 .width-2034 .notSearch {
  transform: scale(1,0) !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.type-2034 .width-2034 .navbar-header {
  text-align: center;
}
.type-2034 .search-box {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  display: none;
  float: left;
  right: 100%;
  top: 0px;
  position: absolute;
  padding: 11px;
  margin: 0;
  z-index: 100;
}
.type-2034 .search-box input[type="text"] {
  border-radius: 0px;
  margin: 0px;
}
.type-2034 .cart {
  float: right;
}
.type-2034 .cart ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.type-2034 .cart ul li {
  padding: 20px;
  float: left;
  border-left: solid 1px #ededed;
  position: relative;
}
.type-2034 .cart ul li span {
  margin: 0px 0px 0px 5px;
}
.type-2034 .cart ul li a {
  color: #252525;
}
.type-2034 .cart ul li a:hover {
  color: #00a685;
}
.type-2034 .cart ul .fa-search:hover {
  color: #00a685;
}
.type-2034 .cart ul li a.return {
  padding: 10px 20px;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #00a685;
}
.type-2034 .cart ul li:last-child {
  padding-right: 0;
}
.type-2034 .cart ul li a.return:hover {
  background-color: #1fd1ad;
}
.type-2034 .cart ul li:first-child {
  border: none;
}
.type-2034 .cart .dropdown-menu {
  width: 232px;
  margin: 0px 0px 0px -116px;
  padding: 20px;
  border-radius: 0px;
}
.type-2034 .cart .color {
  color: #00a685;
}
@media (min-width: 1201px) {
  .type-2034 .navbar-collapse {
    float: right;
  }
  .type-2034 .cart ul li {
    padding: 27px 20px;
  }
  .type-2034 .search-box input[type="text"] {
    min-height: 50px;
  }
  .type-2034 .navbar-collapse .navbar-nav li a {
    padding: 27px 15px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .type-2034 .logo {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .type-2034 .navbar-collapse .navbar-nav li a {
    padding: 20px 15px;
  }
}
@media (max-width: 1200px) {
  .type-2034 .search-box input[type="text"] {
    min-height: 37px;
  }
}
@media (max-width: 992px) {
  .type-2034 .cart ul li {
    margin-top: 5px;
  }
  .type-2034 .search-box {
    min-width: 400px;
  }
}
@media (min-width: 768px) {
  .type-2034 .show-hover:hover > ul.dropdown-menu {
    display: block;
  }
  .type-2034 .dropdown-menu {
    right: 0;
  }
}
@media (max-width: 767px) {
  .type-2034 .search-box {
    top: -10px;
    left: 27px;
  }
  .type-2034 .cart ul li {
    border: none;
  }
  .type-2034 .logo {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .type-2034 .cart {
    float: left;
  }
  .type-2034 .cart ul {
    float: left;
  }
  .type-2034 .cart ul li {
    padding: 10px;
    margin-top: 5px;
  }
  .type-2034 .cart ul li:first-child {
    padding-left: 0;
  }
  .type-2034 .navbar-default .navbar-collapse {
    width: 100%;
    background-color: #ededed;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
  }
  .type-2034 .navbar-default .navbar-collapse .navbar-nav li a {
    padding: 5px 10px;
  }
  .type-2034 .navbar-nav {
    margin: 0px;
  }
  .type-2034 .search-box input[type="text"] {
    min-height: 32px;
  }
  .type-2034 .dropdown-menu {
    left: 160%;
  }
}
@media (max-width: 480px) {
  .type-2034 .language {
    float: left;
  }
  .type-2034 .language .dropdown {
    float: none;
    display: inline-block;
    margin: 0 2px !important;
  }
  .type-2034 .language .dropdown-menu {
    left: auto;
    width: 100%;
  }
  .type-2034 .dropdown {
    float: none;
  }
  .type-2034 .account li {
    margin: 0 5px 0 0 !important;
    float: none;
    display: inline-block;
  }
  .type-2034 .cart {
    float: left;
  }
  .type-2034 .cart ul {
    text-align: center;
  }
  .type-2034 .cart ul li {
    padding: 10px;
    float: none;
    display: inline-block;
    margin-top: 5px;
  }
  .type-2034 .search-box {
    right: -109px;
  }
}
@media (max-width: 380px) {
  .type-2034 .cart {
    width: inherit;
  }
  .type-2034 .cart ul li:first-child {
    padding-left: 0;
  }
  .type-2034 .logo {
    margin-bottom: 10px;
  }
  .type-2034 .language {
    margin-bottom: 5px;
  }
  .type-2034 .language,
  .type-2034 .account {
    float: none !important;
    text-align: center;
  }
  .type-2034 .dropdown-menu {
    min-width: 120px;
  }
}
